h1 Welcome to Harp.
h3 This is yours to own. Enjoy.
p You can use <a href="https://github.com/shakyShane/browser-sync">browser-sync</a> to update things in real-time, too. 
p Just use the command <em>browser-sync start --proxy 'localhost:9000' --files '*.jade, *.scss'</em> from inside of the `_reporting` directory.
